/* ---- Base Rules ---- */
:root {
  --grad: linear-gradient(
    0deg,
    rgba(136, 203, 171, 1) 0%,
    #e91e63 100%
  );

  --theme-clr: #e91e63;
  --big-font: clamp(2rem, 5vw, 3.5rem);
  --small-font: clamp(1rem, 3vw, 1.6rem);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e91e63;
  background: var(--grad);
  margin: 0;
  font-family: "Merriweather", serif;
  color: #fff;
}

/* Typeography General*/
h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 3em;
  margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
  h1 {
    font-size: 7em;
    margin: 2em 4rem 1em;
  }
}

h2,
summary {
  border-bottom: 1px solid #ffc107;
  font-family: cursive;
  font-size: var(--big-font);
  color: #fff;
}

p {
  line-height: 1.5;
  color: #eee;
  font-size: var(--small-font);
}

/* ---- Layout Rules ---- */
main {
  margin: 10vh 1em 10vh;
}

.main-hero {
  min-height: 40vh;
  padding-top: 3em;
}

section {
  position: relative;
  transition: height 0.3s ease;
}

/* Navigation Styles*/
.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.navbar__menu li {
  display: inline-block;
}

.navbar__menu .menu__link {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 568px) {
  .navbar__menu #navbar__list {
    text-align: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar__menu .menu__link {
    font-size: 0.9em;
  }
}

.navbar__menu .menu__link:hover,
.navbar__menu .menu__link.active {
  background: #333;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    #e91e6320 100%
  );
  color: var(--theme-clr);
  transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  transition: transform 0.3s ease-in-out;
}

.page__header.idle {
  transform: translateY(-70px);
}

/* Footer Styles */
.page__footer {
  background: #000;
  padding: 3em;
  color: #fff;
}

.page__footer p {
  color: #fff;
  text-align: center;
}

.copy {
  top: 2px;
  position: relative;
}
.brand {
  color: var(--theme-clr);
}
/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
  padding: 1em;
  text-align: left;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 50em;
    padding: 4em;
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

/* Background Circles 
	Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
  content: "";
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
  content: "";
  background: transparent;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}
.landing__container h2 {
  position: relative;
  margin-bottom: 3rem;
}
.landing__container h2::after {
  content: "\f0dd";
  font-family: "FontAwesome";
  position: absolute;
  transform: translateY(10px);
  font-size: 2rem;
}

@media (max-width: 568px) {
  .landing__container h2::after {
    transform: unset;
  }
}

section:nth-last-of-type(odd)
  .landing__container
  h2::after {
  right: 5%;
}
section:nth-last-of-type(even)
  .landing__container
  h2::after {
  left: 5%;
}
section:nth-last-of-type(even)
  .landing__container
  h2.collapse::after {
  content: "\f0da";
}
section:nth-last-of-type(odd)
  .landing__container
  h2.collapse::after {
  content: "\f0d9";
}
.landing__container div.text-content.collapse {
  transform: scale(0);
  height: 0;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
section.active {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

section.active .landing__container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

section.active .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em)
      rotate(-360deg);
  }
}

@keyframes bouncing {
  100% {
    transform: translateY(-8px);
  }
}

/* Top Btn */
button#top-btn {
  display: block;
  position: fixed;
  right: 35px;
  bottom: 50px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border: none;
  border-radius: 50%;
  padding: 1rem;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
button#top-btn:hover {
  filter: drop-shadow(2px 2px 5px var(--theme-clr));
}

button#top-btn i {
  font-size: 1rem;
  color: white;
}
button#top-btn:hover i {
  animation: bouncing 0.5s linear infinite;
}

button#top-btn.show {
  transform: scale(1);
}
